* {
    background-color: rgba(0, 0, 0, .10) !important;
    border: 1px solid red !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
